html, body{
    padding: 0;
    margin: 0;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier,sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.menu{
    background-color: #ffffff;
    margin-bottom: 35px;
    margin-top: 32px;
    text-align: center;
}
.menu-button{
    color: #64c0ae;
    margin-right: 65px;
    font-weight: bold;
    text-transform: uppercase;
}
.photo{
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 59px;
}

.main-content{
    color: #f5f6f7;
    text-align: center;
}
.main-content-title{
    color: rgba(0,0,0,0.9);
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 34px;
    font-weight: bold;

}

.main-content-text{
    font-weight: bold;
    margin-bottom: 40px;
    margin-left: 110px;
    margin-right: 110px;
    color: rgba(0,0,0,0.9);
}

.start-button{
    text-transform: uppercase;
    padding: 20px 45px;
    margin-bottom: 95px;
    border: none;
    color: #ffffff;
    background-color: #16a085;
}

.footer-p{
    text-align: right;
    margin-right: 100px;
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: bold;
}